.task {
  display: flex;
  align-items: center;
  padding: 20px;
}
.task__container {
  max-width: 80%;
}
.task__title {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.task__title span {
  position: absolute;
  left: -20px;
  top: 2px;
}

.task__title-input {
  flex: 1;
}

.task__title-input input {
  text-align: start;
  /*  */
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  /*  */
  background-color: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 17px;
  color: #b6c2cf;

  /* transition: 0.2s; */
}

.task__title-input input:focus {
  border: 1px solid rgb(70, 76, 240);
  border-radius: 5px;
  background-color: #4a5662;
  /* padding: 6px; */
}
.task__info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.task__info span {
  position: absolute;
  left: -20px;
}
