.container {
  /* background-color: rgb(83, 117, 117); */
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  padding: 0 20px;
}
